@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:900');
@import url('fonts-linearicons.less');

@tipo_1: 	'Open Sans', sans-serif;
@tipo_2: 	'Playfair Display', serif;

@icon_lnr: 'Linearicons-Free';


@white	 	: #ffffff;
@text		: #828282;
@black      : #000000;
@black_2	: #434342;  
@title		: #333333;

@fondo		: #f2f2f2;
@fondo_2	: #fafafa;
@footer		: #1a1a1a;
@copy_right	: #999999;
@foot_rrss 	: #4d4d4d;

@gris 		: #e6e6e6;
@gris_2		: #cccccc;
@gris_black	: #b3b3b3;

@border		: #a3aab2;
@lineas		: #e8e8e8;




@red        : #9e222d;
@gold       : #a07825;
@gold_2		: #fdf9ee;
@gold_3		: #fff5de;


@success 	: #79b407;

@p			: #3a3a3a;


/*General Style*/

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: @tipo_1;
	background-color: #fff;	
	overline: none;	
}
ul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0;
}
//padding
.nopl{padding-left: 0px;} 
.nopr{padding-right: 0px;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt60{margin-top: 60px;}
.mt80{margin-top: 80px;}
.mt100{margin-top: 100px;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb60{margin-bottom: 60px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}

.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt80{padding-top: 80px;}
.pt100{padding-top: 100px;}

.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pb80{padding-bottom: 80px;}
.pb100{padding-bottom: 100px;}

//centrar
.content-center{margin-left: auto;margin-right: auto;}
//nofloat
.nofloat{float: none;}
//centrar texto
.text-center{text-align: center;}

.transition{ 
	-webkit-transition: all 400ms linear;
	   -moz-transition: all 400ms linear;
	    -ms-transition: all 400ms linear;
	     -o-transition: all 400ms linear;
	        transition: all 400ms linear;
}
.placeholder(@color: @input-color-placeholder) {
  &::-moz-placeholder           { color: @color; text-transform: uppercase; letter-spacing: 1px; font-size: 0.9em; } // Firefox
  &:-ms-input-placeholder       { color: @color; text-transform: uppercase; letter-spacing: 1px; font-size: 0.9em; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; text-transform: uppercase; letter-spacing: 1px; font-size: 0.9em; } // Safari and Chrome
}
.css-gradient(@from: @input-color-from, @to: @input-color-to) {
    background-color: @to;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from),  to(@to));
    background-image: -webkit-linear-gradient(top, @from, @to);
    background-image: -moz-linear-gradient(top, @from, @to);
    background-image: -o-linear-gradient(top, @from, @to);
    background-image: -ms-linear-gradient(top, @from, @to);
    background-image: linear-gradient(top, @from, @to);
}
.btn{
	border-radius: 0px;
	padding: 12px 40px;
	display: inline-block;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 0;
	font-weight: bold;
	max-width: 170px;
	width: 100%;
	position: relative;
	font-size: 14px;
	font-family: @tipo_1;
	outline: none;
	.transition;
	&:hover, &:focus{
		outline: none;
	}
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		.transition;
	}
	&.icon_right{
		&:after{
			content: "\e87a";
			font-family: 'Linearicons-Free';
			color: white;
			font-size: 1em;
			z-index: 1;
			margin-left: 100px;
			.transition;
		}
		&:hover{
			&:after{
				margin-left: 10px;
			}
		}
	}
	&.icon_left{
		&:before{
			content: "\e879";
			font-family: 'Linearicons-Free';
			color: white;
			font-size: 1em;
			z-index: 1;
			margin-left: -100px;
			margin-right: 90px;
			.transition;
		}
		&:hover{
			&:before{
				margin-left: -15px;
				margin-right: 5px;
			}
		}
	}
	&.btn-primary{
		background: @red !important;	
		border:2px solid @red !important;
		color: @white !important;
		overflow: hidden;
		.transition;
		&:hover{
			background: @red !important;
			border-color: @red !important;
			color: @white;
			&:after{
				color: @white;
			}
		}
	}
	&.btn-white{
		background: @white !important;	
		border:2px solid @white !important;
		color: @gold !important;
		overflow: hidden;
		.transition;
		&:hover{
			background: @white !important;
			border-color: @white !important;
			color: @gold;
			&:after{
				color: @gold;
			}
		}
	}
	&.btn-gold{
		background: @gold !important;	
		border:2px solid @gold !important;
		color: @white !important;
		overflow: hidden;
		.transition;
		&:hover{
			background: @gold !important;
			border-color: @gold !important;
			color: @white;
			&:after{
				color: @white;
			}
		}
	}
	&.btn-success{
		background: @success !important;
		color: @white !important;
		border:2px solid @success !important;
		overflow: hidden;
		.transition;
		&:hover{
			color: @white;
			background: lighten(@success, 5%) !important;
			border-color: lighten(@success, 5%) !important;
			&:before{
				background: @success !important; 
				border-color: @success !important;
				color: @white;
			}
		}
		&:before{
			&:hover{
				background: @success !important; 
				border-color: @success !important;
				color: @white;
			}
		}
	}
	&.btn-default{
		background: #fff !important;
		color: @red !important;
		border:2px solid @red !important;
		overflow: hidden;
		&:hover{
			color: @red;
			&:before{
				color: @red;
			}
		}
	}
}
.form{
	width: 100%;
	display: inline-block;
	.form-group{
		margin: 0;
		display: inline-block;
		width: 100%;
		input{
			width: 100%;
			display: block;
			margin-top: 0;
			margin-bottom: 15px;
			background-color: @white;
			border:1px solid @lineas;
			border-radius: 3px;
			height: 40px;
		    line-height: 40px;
		    text-indent: 15px;
		    color: @black;
		    -webkit-appearance: none;
		    .transition;
		    .placeholder(@color:@black;);
		    &:focus{
		    	border-color: @black;				
				outline: 0 none;
		    }
		}
		textarea{
			width: 100%;
			display: block;
			margin-top: 0;
			margin-bottom: 15px;
			background-color: @white;
			border:1px solid @lineas;
			border-radius: 3px;
		    line-height: 40px;
		    text-indent: 15px;
		    color: @black;
		    .transition;
		    .placeholder(@color:@black;);
		    &:focus{
		    	border-color: @black;				
				outline: 0 none;
		    }
		}
		.btn-success{
			max-width: 40%;
		    line-height: 40px;
		    padding-top: 0;
		    display: inline-block;
		    margin: 0 auto;
		    text-align: center;
		    padding: 0;
		    text-indent: -1px;
		}
	}
}
a{
	outline: none;
}
h1{
	display: inline-block;
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 100;
	font-size: 4.2em;
	font-family: @tipo_2;
	@media(max-width:1199px){
		font-size: 4.2em;
	}
	@media(max-width:991px){
		font-size: 3.5em;
		margin-bottom: 15px;
	}
	@media(max-width:767px){
		font-size: 3em;
	}
	@media(max-width:500px){
		font-size: 2.5em;
	}
}
h2{
	display: inline-block;
	margin-top: 0;
	margin-bottom: 30px;	
	font-weight: 100;
	font-size: 3.8em;
	font-family: @tipo_2;
	@media(max-width:991px){
		font-size: 3em;
		margin-bottom: 15px;
	}
	@media(max-width:500px){
		font-size: 2.5em;
	}
}
h3{
	display: inline-block;
	margin-top: 0;
	margin-bottom: 30px;	
	font-weight: 100;
	font-size: 1.6em;
	font-family: @tipo_2;
	@media(max-width:500px){
		font-size: 1.4em;
		margin-bottom: 15px;
	}
}
h4{
	font-family: @tipo_2;
}
h5{
	font-family: @tipo_2;
}
h6{
	font-family: @tipo_2;
}
p{
	color: @p;
	font-weight: normal;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: justify;
	line-height: 1.6875;
	-webkit-font-smoothing: antialiased;
	font-family: @tipo_1;
	@media(max-width:991px){
		margin-bottom: 15px;
	}
	@media(max-width:500px){
		font-size: 14px;
	}
}
//Style 
.sb-slidebar {
	background-color: @fondo !important;	
	padding:0;
	.sb-header{
		background-color: white;
		position: relative;
		float: left;
		width: 100%;
		padding: 5px;
		.logo{
			float: left;
			width: 70%;
			margin: 0;
			a{
				float: left;
				width: 100%;
				img{
					max-width: 100%;
				}
			}
		}
		.sb-close{
			float: left;
			width: 30%;			
			cursor: pointer;
			text-align: right;
			padding-top: 7px;
			padding-right: 5px;
			color: @text;				
			font-size: 1.6em;			
		}
	}
	.sb-language{
		float: left;
		width: 100%;		
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 10px;
		border-bottom: 1px solid @gris;
		span{
			text-transform: uppercase;
			font-size: 0.85em;
			color: @text;
			font-family: @tipo_1;
			font-family: @tipo_1;
			float: left;
			width: 30%;
			line-height: 25px;
		}
		select{
			float: left;
		    background: @white;
		    color: @black;
		    border: 1px solid @gris;
		    border-radius: 0;
		    width: 70%;
		    text-indent: 15px;
		    font-size: 0.9em;
		    letter-spacing: 1px;
		    height: 25px;			
		}
	}
	.sb-menu{
		float: left;
		width: 100%;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-right: 10px;
		ul{
			float: left;
			width: 100%;
			li{
				float: left;
				width: 100%;
				margin-bottom: 5px;
				a{
					color: @text;
					text-transform: uppercase;
					margin-bottom: 5px;
					float: left;
					width: 100%;
					font-weight: 600;					
					text-decoration: none;
					font-size: .85em;
					font-family: @tipo_1;
					font-family: @tipo_1;
					font-weight: 400;
					letter-spacing: 1px;
					&:hover{
						color: @red;
					}
				}
				&.separador{
					hr{
						margin: 10px 0;
						background: @gris;
						height: 1px;
						border: none;
					}
				}
			}
		}
	}
	.sb-redes_sociales{
		float: left;
		width: 100%;		
		margin-top: 70px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		ul{
			text-align: center;
			li{
				display: inline-block;
				margin: 0 15px;
				a{
					color: @red;
					font-size: 1em;
				}
			}
		}		
	}	
}
header{
	position: absolute;
	width: 100%;
	z-index: 3;
	padding: 60px 60px 0;
	.menu-left{
		width: 43.5%;
		display: inline-block;
		float: left;
		ul{
			margin-left: 0px;
		}
	}
	.logo{
		width: 13%;
		display: inline-block;
		position: relative;
		h1{
			margin: 0;
		}
	}
	.menu-right{
		width: 43.5%;
		display: inline-block;
		float: right;
		ul{
			padding-right: 50px;
			li{
				&:first-child{
					padding-left: 30px;
				}
			}
		}
	}
	ul{
		width: 100%;
		display: block;
		margin:30px 0 0;
		li{
			display: inline-block;
			width: 33.33%;
			float: left;
			text-align: center;
			a{
				color: @white;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: bold;
				font-size: 13px;
				letter-spacing: 1px;
				font-family: @tipo_1;
				text-align: center;
				padding-bottom: 5px;
				border-bottom: 2px solid transparent;
				.transition;
				&:hover, &:focus{
					color: @white;
					text-decoration: none;
					border-bottom: 2px solid @white;
				}
			}
			&:first-child{
				//margin-left: 0;
			}
			&:last-child{
				
			}
		}
	}
}
.home-section{
	position: relative;
	z-index: 2;
	.slides_home{
		width: 100%;
		display: block;
		.slick-slide{
			border: 40px solid @white;	
			height: 900px;
			display: block;
			width: 100%;
			border-bottom: 0;			
			&:hover, &:focus{
				outline: none;
			}	
			.content{				
				position: relative;
				width: 100%;
				height: 560px;
				padding-top: 220px;
				padding-left: 100px;
				z-index: 2;
				background-size: cover;
				background-position: 100% 70%;
				background-repeat: no-repeat;
				h2{
					color: @white;
					font-size: 8em;
					margin-bottom: 0px;
				}
				h6{
					color: @white;
					font-size: 3em;
					margin-left: 60px;
				}
				.cont_btn{
					width: 65%;
					text-align: center;
					display: block;
					margin: 30px 0 0;
					position: relative;
				}
				&:after{
					content:"\e874";
					font-family: @icon_lnr;
					text-align: center;
				    width: 100%;
				    display: block;
				    font-size: 2.6em;
				    color: white;
				    position: absolute;
				    bottom: 50px;
				    font-weight: 300;
				    left: 0;
				}
			}
			.content_botella{
				position: absolute;
				right: -180px;
				top: -37px;
				z-index: 3;
				img{
					max-width: 33%;
				}
			}
		}
		.slick-dots{
			bottom: 300px;
		}	
	}
}
footer{
	position: relative;
	z-index: 2;
	padding: 60px 0 0;
	background-color:@white; 
	.foot_top{
		width: 100%;
		position: relative;
		.foot_menu_principal{
			width: 100%;
			text-align: center;
			padding: 0;
			margin: 0 0 20px;
			li{
				display: inline-block;
				margin: 0 40px;
				a{
					color: @gold;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					font-size: 13px;
					letter-spacing: 1px;
					font-family: @tipo_1;
					text-align: center;
					padding-bottom: 5px;
					.transition;
					&:hover, &:focus{
						color: @gold;
						text-decoration: none;
					}
				}
			}	
		}
	}
	.foot_center{
		img{
			max-width: 35px;
			display: block;
			margin: 0 auto;
		}
	}
	.foot_bottom{
		width: 100%;
		position: relative;
		border-left: 40px solid @white;
		border-right: 40px solid @white;
		border-bottom: 40px solid @white;
		padding-top: 20px;
		display: inline-block;
		.foot_bottom_links{
			width: 100%;
			position: relative;
			> li{
				display: inline-block;
				float: left;
				width: 33.33%;
				p{
					text-transform: uppercase;
					color: @black;
					font-size: 10px;
					letter-spacing: 1px;
					margin-bottom: 0;
				}
				a{
					text-transform: uppercase;
					color: @black;
					text-decoration: none;
					font-size: 10px;
					letter-spacing: 1px;
					.transition;
					&:hover{
						color: @gold;
					}
				}
				&.foot_bottom_cont_copy{					
					padding-top: 5px;
				}
				&.foot_bottom_cont_autor{
					padding-top: 5px;
					text-align: center;
				}
				&.foot_bottom_cont_rrss{
					.foot_rrss{
						float: right;
						li{
							display: inline-block;
							margin-left: 10px;
							a{
								color: @white;
								font-size: 10px;
								text-decoration: none;
								width: 25px;
								height: 25px;
								line-height: 23px;
								background-color: @gold;
								border: 1px solid @gold;
								display: block;
								border-radius: 50%;
								text-align: center;
								.transition;
								&:hover{
									color: @gold;
									background-color: @white;
								}
							}
						}
					}
				}
			}
		}		
	}
}